.breadcrumbs {
	border-bottom: 1px solid @darkGrey;
	padding-top: 25px;
	padding-bottom: 25px;

	p {
		line-height: 1;
		margin: 0;

		span {

			span {
				font-size: 11px;
				letter-spacing: .025em;
				margin: 0 10px 0 0;
				text-transform: uppercase;
				@media @sm {
					font-size: 12px;
				}

				&.divide {
					margin: 0 10px;
				}

				span a, span span.divide {
					display: none;
					@media @sm {
						display: inline;	
					}
				}

				a {
					border: none;
					color: @bodyColour;
					font-weight: @medium;							
					padding-bottom: 0;

					&:hover {
						color: @link-hover-colour;
					}

				}

			}

		}

	}

}