#case-studies {
	background: @lightGrey;
	padding-top: 40px;
	padding-bottom: 0;
	@media @md {
		padding-top: 60px;
	}
	@media @lg {
		padding-bottom: 30px;
	}

	.intro {
		padding: 0 0 10px;
		@media @sm {
			padding: 0 10px 10px;
		}
		@media @md {
			float: left;
			padding: 0 30px 0 0;
			width: 300px;
		}
		@media @lg {
			padding-right: 40px;
			width: 380px;
		}

		h1 {
			margin: 0 0 20px;
			@media @md {
				margin-bottom: 30px;
			}
			@media @lg {
				margin-top: 40px;
			}
		}

		p:last-child {
			margin-bottom: 0;
		}

	}

	.case-studies-list {
		padding-top: 10px;
		@media @sm {
			padding-top: 20px;
		}
		@media @md {
			float: left;
			padding-top: 0;
			width: 640px;
		}
		@media @lg {
			width: 820px;
		}
		
		// @media @sm {
		// 	padding: 0 10px;
		// 	// width: 50%;
		// }
		// @media @md {
		// 	float: left;
		// 	padding: 0 0 0 20px;
		// 	width: 340px;
		// }
		// @media @lg {
		// 	width: 410px;
		// }

		.row {
			@media @sm {
				margin-left: -10px;
				margin-right: -10px;
			}
		}

		.col {
			margin-bottom: 20px;
			@media @sm {
				padding: 0 10px;
				width: 50%;
			}

			.banner {
				height: 200px;
				@media @sm {
					height: 250px;
				}
				@media @lg {
					height: 315px;
				}

				.label {
					padding-left: 20px;
					width: 90%;
					@media @md {
						padding-left: 15px;
					}
					@media @lg {
						padding-left: 20px;							
					}

				}

				h2 {
					@media @md {
						margin-top: -3px;
					}
				}

			}

		}

	}

	// .row {
		// @media @sm {
		// 	margin-left: -10px;
		// 	margin-right: -10px;
		// }
		// @media @md {
		// 	margin-left: 0;
		// 	margin-right: 0;
		// }

		// .col {
			// width: 100%;

			// &.intro {
			// 	padding: 0 0 10px;
			// 	@media @sm {
			// 		padding: 0 10px 10px;
			// 	}
			// 	@media @md {
			// 		width: 260px;
			// 	}
			// 	@media @lg {
			// 		padding: 0 40px 0 0;
			// 		width: 380px;
			// 	}

			// 	h1 {
			// 		margin: 0 0 20px;
			// 		@media @md {
			// 			margin-bottom: 30px;
			// 		}
			// 		@media @lg {
			// 			margin-top: 40px;
			// 		}
			// 	}

			// 	p:last-child {
			// 		margin-bottom: 0;
			// 	}

			// }

			// &.case-study {
			// 	margin-bottom: 20px;
			// 	@media @sm {
			// 		padding: 0 10px;
			// 		width: 50%;
			// 	}
			// 	@media @md {
			// 		padding: 0 0 0 20px;
			// 		width: 340px;
			// 	}
			// 	@media @lg {
			// 		width: 410px;
			// 	}

			// 	.banner {
			// 		height: 200px;
			// 		@media @sm {
			// 			height: 250px;
			// 		}
			// 		@media @lg {
			// 			height: 315px;
			// 		}

			// 		.label {
			// 			padding-left: 20px;
			// 			width: 90%;
			// 			@media @md {
			// 				padding-left: 15px;
			// 			}
			// 			@media @lg {
			// 				padding-left: 20px;							
			// 			}

			// 		}

			// 		h2 {
			// 			@media @md {
			// 				margin-top: -3px;
			// 			}
			// 		}

			// 	}

			// }

		// }

	// }

}