#get-a-quote {
	background: @yellow;
	padding: 30px 0;
	position: relative;
	text-align: center;
	@media @sm {
		padding: 50px 0;
	}
	@media @md {
		padding: 60px 0;
	}

	.label {
		font-family: @serifFont;
		font-size: 14px;
		left: 50%;
		line-height: 1;
		margin: 0 0 0 -100px;
		position: absolute;
		top: -40px;
		width: 200px;
		@media @sm {
			top: -50px;
		}
		@media @md {
			top: -55px;
		}

		&:after, &:before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			width: 1px;
		}

		&:before {
			background: @bodyColour;
			top: 20px;
			height: 20px;
			@media @sm {
				height: 30px;
			}
			@media @md {
				height: 35px;
			}
		}

		&:after {
			background: #fff;
			top: 40px;
			height: 20px;
			@media @sm {
				height: 40px;
				top: 50px;
			}
			@media @md {
				height: 45px;
				top: 55px;
			}
		}

	}

	h1 {
		font-family: @serifFont;
		font-size: 30px;
		line-height: 1;
		margin-bottom: 20px;
		@media @sm {
			font-size: 40px;			
		}
	}

	p {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 20px;
		font-weight: @semiBold;
		@media @sm {
			font-size: 18px;
			line-height: 26px;
		}

		br  {
			display: none;
			@media @sm {
				display: inline;
			}
		}
		
	}

	.btn.double-border {
		background: #fff;
		border-color: @yellow;
		color: @bodyColour;
		padding: 15px 30px;
		position: relative;
		@media @sm {
			padding-right: 60px;
			padding-left: 60px;
		}

		&:hover {
			background: @bodyColour;
			color: #fff;
		}

		&:before {
			border-color: @bodyColour;
		}

	}

}

#site-footer {
	background: @lightGrey;
	padding-top: 30px;

	.mailing-list {
		border-top: 2px solid @yellow;
		background: #fff;
		padding: 0 0 20px;
		position: relative;
		@media @sm {
			border-top-width: 4px;
			padding: 0;
			height: 200px;
		}

		hr {
			background: @darkGrey;
			border: none;
			height: 1px;
			margin: 0;
			width: 100%;
			@media @sm {
				position: absolute;
				left: 50%;
				height: 100%;
				width: 1px;
			}
		}

		.quick-links,
		.mailing-list-form {
			padding: 20px 5px;
			@media @sm {
				.vertical-align;
				padding: 0;
				width: 50%;
			}
		}

		.quick-links {
			&:extend(.inline all);
			line-height: 1;
			@media @sm {
				float: left;
			}

			li {
				text-align: center;
				vertical-align: top;
				width: 33.333333%;

				a {
					.notransition;
					color: @bodyColour;
					display: inline-block;
					font-family: @serifFont;
					font-size: 10px;
					text-transform: uppercase;
					@media @sm {
						font-size: 13px;
					}
					@media @md {
						font-size: 14px;
					}

					&:hover {
						@media @md {
							color: @yellow;
						}
					}

					&:before {
						background: url('../../img/footer/footer-icons.png') 0 0 no-repeat;
						background-size: 180px 93px;
						content: '';
						display: block;
						margin: 0 auto 15px;
						height: 47px;
						width: 60px;
						@media @sm {
							background-size: 240px 124px;
							height: 62px;
							width: 80px;
						}
					}

				}

				&.find-us a:before {
					background-position: 0 0;
				}

				&.contact a:before {
					background-position: -60px 0;
					@media @sm {
						background-position: -80px 0;
					}
				}

				&.news a:before {
					background-position: -120px 0;
					@media @sm {
						background-position: -160px 0;
					}
				}

				&.find-us a:hover:before {
					@media @md {
						background-position: 0 -62px;
					}
				}

				&.contact a:hover:before {
					@media @md {
						background-position: -80px -62px;
					}
				}

				&.news a:hover:before {
					@media @md {
						background-position: -160px -62px;
					}
				}

			}

		}

		.mailing-list-form {
			padding: 20px 15px;
			text-align: center;
			@media @sm {
				float: right;
			}

			h2 {
				font-size: 20px;
				margin-bottom: 15px;
				@media @sm {
					font-size: 30px;
				}
			}

			.gform_wrapper {
				.border-radius(4px);
				border: 2px solid @bodyColour;
				display: block;
				float: none;
				height: 48px;
				margin: 0 auto !important;
				padding: 1px;
				position: relative;	
				@media @sm {
					width: 300px;
				}			
				@media @md {
					width: 340px;
				}

				&.gform_validation_error {
					border-color: @error;
				}

			}

			.gform_fields {
				&:extend(.unstyled all);
			}

			.gfield_label {
				display: none;
			}

			input[type="text"] {
				.border-radius(0);
				border: none;				
				float: left;
				padding: 0 60px 0 15px;
			}

			.gform_footer {
				background: @lightGrey;
				display: block;
				float: left;
				height: 42px;
				line-height: 42px;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 1px;
				right: 1px;
				text-align: center;
				width: 44px;

				&:before {
					background: @bodyColour;
					content: '';
					display: block;
					left: -2px;
					position: absolute;
					height: 100%;
					width: 1px;
				}

				&:after {
					.fa('\f054');
					position: relative;
					top: 1px;
					margin-left: 3px;
				}

				input[type="submit"] {
					background: none;
					border: none;
					font-size: 0;
					height: 100%;
					left: 0;
					margin: 0;
					outline: none;
					padding: 0;
					position: absolute;
					top: 0;
					width: 100%;		
					z-index: 1;	
				}

				.gform_ajax_spinner {
					display: none;
					@media @sm {
						display: block;
						position: absolute;
						right: -30px;
						top: 14px;
					}
				}

			}

			.validation_error {
				display: none !important;
			}

		}

	}

	.social {
		&:extend(.inline all);
		line-height: 1;
		margin: 30px 0;
		text-align: center;
		@media @sm {
			margin: 40px 0;
		}

		li {
			margin: 0 20px;

			a {
				color: @bodyColour;
				font-size: 18px;

				&:hover {
					color: @yellow;
				}

			}

		}

	}

	nav {
		&:extend(header#site-header .main-nav all);
		border: none;
		display: none;
		margin: 0 auto 40px;
		padding: 0;
		@media @sm {
			display: block;
		}
		@media @md {
			margin-bottom: 60px;
		}

		ul {

			li {

				a {
					font-family: @sansSerifFont;
					font-weight: @bold;
				}

				&.dropdown a:after {
					display: none !important;
				}

			}

		}

	}

	.btm-footer {
		background: @mediumGrey;
		padding: 25px 0 20px;
		text-align: center;
		@media @md {
			padding: 15px 0 10px;
			text-align: left;
		}

		p {
			font-size: 11px;
			line-height: 20px;
			margin: 0;
			@media @md {
				float: left;
				font-size: 14px;
			}

			&:last-child {
				@media @md {
					float: right;
				}
			}

			a {
				border: none;
				color: @bodyColour;
				font-weight: @medium;
				padding-bottom: 0;

				&:hover {
					color: #000;
				}

			}

		}

	}

}