header#site-header {
	background: #fff;
	padding: 10px 0;
	@media @sm {
		padding: 30px 0 10px;
	}

	.logo {
		display: block;
		float: left;
		width: 145px;
		max-width: 100%;
		@media @sm {
			width: 257px;
		}

		img {
			display: block;
			height: auto;
			width: 100%;
		}

	}

	.call-us {
		display: block;
		font-family: @serifFont;
		float: right;
		line-height: 1;
		margin-top: 8px;
		@media @sm {
			border-left: 4px double #8e8e8e;
			margin-top: 5px;
			padding-left: 10px;
		}

		p {
			display: none;
			@media @sm {
				display: block;
				font-style: italic;
				font-weight: @bold;
				line-height: 1;
				margin: 0 0 5px;
			}
		}

		a {
			letter-spacing: -.025em;
			font-size: 16px;
			@media @sm {
				font-size: 30px;
			}

			&:before {
				.fa('\f095');
				font-size: 14px;
				margin-right: 5px;
				@media @sm {
					display: none;
				}
			}

		}

	}

	.mobile-nav,
	.main-nav {
		border-top: 1px solid #8e8e8e;		
	}

	.mobile-nav {
		&:extend(.inline all);
		line-height: 1;
		margin-top: 15px;
		padding: 10px 0 5px;
		@media @sm {
			display: none;
		}

		li {
			margin: 0;
			width: 25%;

			a {
				color: @bodyColour;
				font-size: 13px;
				font-family: @serifFont;
				padding: 5px 0;

				.fa {
					margin-right: 5px;
				}

			}

		}

	}

	.mask {
		background: rgba(0,0,0,.8);			
		display: none;
		height: 100%;			
		left: 0;
		position: fixed;
		top: 0;			
		width: 100%;
		z-index: 98;
		@media @sm {
			display: none !important;
		}
	}

	.main-nav {
		background: #fff;
		height: 100%;
		left: -90%;
		overflow-x: auto;
		position: fixed;
		top: 0;
		width: 90%;
		z-index: 99;
		@media @sm {
			background: none;
			display: block;
			left: 0 !important;
			margin-top: 20px;
			overflow-x: visible;
			padding: 15px 0;
			position: relative;
			width: 100%;
		}

		.close {
			font-weight: @bold;
			font-size: 12px;
			float: right;
			margin: 40px 30px 40px;
			text-decoration: underline;
			@media @sm {
				display: none;
			}
		}

		.social {
			&:extend(.inline all);
			padding: 10px 0 0 30px;
			@media @sm {
				display: none;
			}

			li {
				font-size: 16px;
				margin: 0 15px 0 0;
			}

		}

		ul {
			&:extend(.unstyled all);
			border-top: 1px solid @darkGrey;
			line-height: 1;
			padding: 20px 0;
			position: relative;
			@media @sm {
				border: none;
				font-size: 0;
				list-style: none;
				margin: 0 -22px;
				padding: 0;
				text-align: center;
			}
			@media @md {
				margin-left: -42px;
				margin-right: -42px;
			}
			@media @lg {
				margin-left: -70px;
				margin-right: -70px;
			}

			li {
				margin: 0;
				padding: 0 30px;
				position: relative;
				@media @sm {
					display: inline-block;
					font-size: 14px;
					margin: 0 22px;
					padding: 0;
				}
				@media @md {
					margin: 0 42px;
				}
				@media @lg {
					margin: 0 70px;
				}

				a {
					color: @bodyColour;
					display: block;
					font-family: @serifFont;
					letter-spacing: 1px;
					padding: 15px 0;
					position: relative;
					text-transform: uppercase;
					@media @sm {
						display: inline-block;
						padding: 5px 0;
					}

					&:hover {
						@media @sm {
							color: @yellow;
						}
					}

				}


				&.current-menu-item,
				&.current_page_parent,
				&.current-page-ancestor { 
					@media @sm {
						border-bottom: 3px solid @yellow;
					}

					ul li.current-menu-item,
					ul li.current_page_parent,
					ul li.current-page-ancestor {
						border: none;
					}

				}

				&.dropdown {

					&.open {
						background: @yellow;
						@media @sm {
							background: none !important;
						}
					}

					&:after {
						.fa('\f067');
						color: @yellow;
						font-size: 20px;
						position: absolute;
						top: 12px;
						right: 30px;
						@media @sm {
							display: none;
						}
					}

					a:after {
						@media @sm {
							.fa('\f107');
							color: @bodyColour;
							padding-left: 10px;
							position: absolute;
							right: auto;
						}
						@media @md {
							padding-left: 15px;
						}
						@media @lg {
							padding-left: 20px;
						}
					}

					ul {
						border: none;
						display: none;
						margin: 0;
						padding: 0 0 15px;
						@media @sm {
							display: none !important;
							margin: 0;
							padding: 28px 0 0;
							position: absolute;
							text-align: left;
							width: 240px;
						}
						@media @md {
							width: 365px;
						}

						li {
							margin: 0;
							padding: 0;
							position: relative;
							width: 100%;

							a {
								display: block;
								font-family: @sansSerifFont;
								font-size: 12px;
								font-weight: @semiBold;
								line-height: 1.5;
								margin: 0;
								letter-spacing: 1px;
								padding: 7px 0 7px 15px;
								position: relative;
								text-transform: uppercase;
								@media @sm {
									background: @navBg;
									color: #fff;
									padding: 15px 20px 15px 30px;
								}

								&:before {
									content: '-';
									display: inline-block;
									left: 0;
									position: absolute;
									@media @sm {
										display: none;
									}
								}

								&:after {
									display: none;
								}

								&:hover {
									@media @sm {
										background: @navBgHover;
									}
								}

							}

							&:first-child {
								@media @sm {
									background: @navBg;
									padding-top: 15px;
								}
								
								a {
									@media @sm {
										padding-top: 15px;
									}
								}

							}

							&:last-child {
								@media @sm {
									background: @navBg;
									padding-bottom: 15px;
								}

								a {
									@media @sm {
										padding-bottom: 15px;
									}
								}

							}						

							&.submenu {

								&:after {
									display: none;
									@media @sm {
										.fa('\f105');
										color: #fff;
										font-size: 20px;
										position: absolute;
										top: 14px;
										right: 20px;
									}
								}

								&:first-child:after {
									@media @sm {
										top: 24px;
									}
								}

								ul {
									display: block;
									padding: 0 0 0 15px;
									@media @sm {
										display: none !important;
										padding: 0 0 0 1px;
										position: absolute;
										text-align: left;
										top: 0;
										left: 240px;
									}
									@media @md {
										left: 365px;
									}

									li {

										a {
											font-weight: @medium;
											padding: 10px 20px 10px 30px;
											@media @sm {
												font-weight: @semiBold;
												padding: 15px 20px 15px 30px;
											}
										}

										&:first-child a {
											@media @sm {
												padding-top: 15px;
											}
										}

										&:last-child a {
											@media @sm {
												padding-bottom: 15px;
											}
										}

									}

								}

							}

							&:hover ul {
								@media @sm {
									display: block !important;
								}
							}

						}

					}

					&:hover ul {
						@media @sm {
							display: block !important;
						}
					}

				}

			}

		}

	}

}