#hero {
	height: 250px;
	@media @sm {
		height: 400px;			
	}
	@media @md {
		height: 500px;
	}
	@media @lg {
		height: 640px;
	}

	&.img {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		@media @sm {
			background-size: auto;	
		}
	}

	.container {
		.vertical-align;

		.inner {
			border-left: 3px solid #fff;
			padding: 10px 0 5px 15px;
			@media @sm {
				border-left-width: 6px;
				padding: 10px 0 10px 20px;
			}
			@media @md {
				padding: 30px 0 40px 20px;
			}
			@media @lg {
				padding: 70px 0 80px 20px;
			}
		}

	}

	h1, p {
		color: #fff;
		margin: 0;
	}

	h1 {
		font-size: 32px;
		letter-spacing: -0.025em;
		line-height: 36px;
		margin-left: -3px;
		@media @sm {
			font-size: 70px;
			line-height: 65px;
			margin-left: -5px;
		}
		@media @lg {
			font-size: 90px;
			line-height: 80px;
		}
		@media @xlg {
			font-size: 110px;
			line-height: 100px;
		}

		&:after {
			background: @yellow;
			content: '';
			display: block;
			height: 3px;
			margin: 10px 0 10px 3px;
			width: 66px;
			@media @sm {
				height: 6px;
				margin: 25px 0 20px 5px;
			}
		}
		
	}

	p {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 0;
		@media @sm {
			font-size: 15px;
			line-height: 22px;
		}
	}

	&.split {
		margin: 0 auto;
		max-width: 2560px;

		.intro,
		.img,
		.img .container {
			height: 100%;

			.inner {
				.vertical-align;
			}
			
		}

		.intro,
		.img .container {
			@media @md {
				padding: 0 40px;
			}
			@media @lg {
				padding: 0;
			}
		}

		.intro {
			display: none;			
			@media @md {
				display: block;
				background: @mediumGrey;
				float: left;
				text-align: center;
				width: 50%;
			}

			.inner {
				@media @md {
					float: right;
					width: 100%;
				}
				@media @lg {
					padding-left: 75px;
					padding-right: 75px;
					width: 600px;
				}

				img {
					@media @md {
						.border-radius(50%);
						display: block;
						height: auto;
						margin: 0 auto;						
						width: 220px;
					}
					@media @lg {
						width: 260px;						
					}
				}

				h2 {
					margin: 10px 0 25px;
				}

				ul {
					&:extend(.inline all);
					margin: 0 -5px 30px;

					li {
						padding-left: 5px;
						padding-right: 5px;
						width: 33.33333333%;

						a.btn {
							background: none;
							border-color: @mediumGrey;
							color: @bodyColour;
							display: block;
							padding-left: 0;
							padding-right: 0;

							&:before {
								border-color: @bodyColour;
							}

							&:hover {
								background: @bodyColour;
								color: #fff;
							}
						}

					}

				}

				.case-studies-link {
					text-align: left;

					&:before {
						background: url('../../img/hero/case-study-icon.png') 50% 50% no-repeat;
						background-size: cover;
						content: '';
						display: inline-block;
						height: 26px;
						margin-right: 10px;
						position: relative;
						top: 6px;
						width: 27px;
					}

				}

			}

		}

		.img {
			@media @md {
				float: right;
				width: 50%;
			}
			@media @lg {
				padding-right: 60px;
				padding-left: 0;
			}

			.container {
				@media @md {
					width: 100% !important;
				}
			}

			.inner {
				border-left: 3px solid #fff;
				padding: 10px 0 5px 15px;
				@media @sm {
					border-left-width: 6px;
					padding: 10px 0 10px 20px;
				}
				@media @md {
					float: left;
					// max-width: 800px;
					// margin-left: 75px;
					// padding: 20px 0 20px 20px;
					width: 100%;
				}
				@media @lg {
					float: left;
					max-width: 800px;
					margin-left: 75px;
					padding: 20px 0 20px 20px;
				}

			}

			h1 {
				
			}

			p {
				margin-bottom: 0 !important;
				@media @lg {
					width: 450px;
				}
			}

		}

	}
	
}