.main-content {
	border-bottom: 1px solid @darkGrey;

	.container {
		@media @sm {
			.displayflex;
		}
	}

	main {
		padding: 30px 0 0;
		@media @sm {
			float: left;
			padding: 40px 40px 60px 0;
			width: 480px;
		}
		@media @md {
			padding: 60px 60px 80px 0;
			width: 610px;
		}
		@media @lg {
			width: 870px;
		}

		h1 {
			margin-bottom: 30px;
		}

		h2 {
			margin: 30px 0 20px;
			@media @sm {
				margin: 40px 0 30px;
			}

			&:first-of-type {
				margin-top: 0;
			}

		}

		hr {
			border: none;
			border-top: 1px solid @darkGrey;
			margin: 30px 0 20px;
			width: 100%;
			@media @sm {
				margin: 40px 0 30px;
				width: 480px;
			}
			@media @md {
				width: 610px;
			}
			@media @lg {
				width: 870px;
			}
		}

		img.full {
			display: block;
			height: auto;
			margin: 30px 0 20px;
			width: 100%;
			@media @sm {
				margin: 40px 0 30px;
				width: 480px;
			}
			@media @md {
				width: 610px;
			}
			@media @lg {
				width: 870px;
			}
		}

		img.size-full,
		img.alignnone {
			display: block;
			height: auto;
			margin: 0 0 30px;
			max-width: 100%;
		}

		img.inline {
			display: block;
			height: auto;
			margin: 0 0 30px;
			width: 100%;
		}

		img.aligncenter {
			display: block;
			margin: 30px auto;
			max-width: 100%;
		}

		ul {
			margin-bottom: 20px;
			@media @md {
				margin-bottom: 30px;
			}

			li {
				margin-bottom: 5px;

				a {
					border-bottom: 2px solid @yellow;
					font-weight: @bold;
					padding-bottom: 2px;
					@media @sm {
						border-bottom-width: 3px;
						padding-bottom: 3px;
					}

					&:hover {
						color: @yellow;
					}

				}

			}

		}

	}

	aside {
		display: none;
		@media @sm {
			background: @lightGrey;
			border-left: 1px solid @darkGrey;
			display: block;
			float: right;
			padding: 80px 0 40px;
			width: 240px;
		}
		@media @md {
			padding: 125px 0 55px;
			width: 330px;
		}

		hgroup, ul {
			padding-left: 25px;
			padding-right: 25px;
			@media @md {
				padding-left: 55px;
				padding-right: 55px;
			}
		}

		hgroup {

			h1 {
				font-size: 18px;
				margin-bottom: 0;
			}

			h2 {
				font-family: @sansSerifFont;
				font-size: 13px;
				letter-spacing: .075em;
				margin: 5px 0 0;
				text-transform: uppercase;
			}

		}

		ul {
			&:extend(.unstyled all);
			border-top: 1px solid @darkGrey;
			border-bottom: 1px solid @darkGrey;
			margin: 15px 0 0;
			padding-top: 15px;
			padding-bottom: 5px;
			@media @md {
				padding-bottom: 0;
			}

			li {
				line-height: 20px;
				margin: 0 0 10px;
				@media @md {
					margin-bottom: 15px;
				}

				a {
					color: @link-colour;
					font-family: @serifFont;
					font-size: 13px;
					@media @md {
						font-size: 14px;
					}

					&:hover {
						color: @link-hover-colour;
					}

				}

				&.current-menu-item {
					display: none;
				}

			}

		}

	}

}