.post-list {
	padding-top: 40px;
	@media @sm {
		padding-top: 70px;
	}

	article.row {
		margin-bottom: 50px;
		@media @sm {
			margin-bottom: 75px;
		}
		@media @md {
			margin-bottom: 100px;
		}

		.col {
			border-top: 1px solid @darkGrey;
			width: 100%;
			@media @md {
  				width: 500px;
  			}
  			@media @lg {
  				width: 540px;
  			}

  			&.img {
  				border: none;
  				position: relative;
  				@media @md {
  					padding-right: 40px;
  					width: 440px;
  				}
  				@media @lg {
  					padding-right: 60px;
  					width: 560px;
  				}

  				img {
  					display: block;
  					height: auto;
  					width: 100%;
  				}

  				.meta {
					background: #fff;
					font-size: 12px;
					letter-spacing: .025em;
					padding: 10px 0;
					text-transform: uppercase;
					@media @sm {
						bottom: -1px;
						font-size: 13px;
						left: 0;
						padding: 20px 10px 5px;
						position: absolute;
						width: 360px;
						z-index: 1;
					}

  				}

  			}

  			h1 {
  				font-size: 22px;
  				letter-spacing: .03em;
				margin: 20px 0 15px;					
				@media @sm {
					font-size: 24px;
					margin: 30px 0 25px;
				}
				@media @md {
					font-size: 26px;
				}
				@media @lg {
					font-size: 30px;
				}

  			}

		}

	}

}