@import 'inc/_reset';
@import 'plugs/font-awesome/font-awesome';
@import 'inc/_variables';
@import 'inc/_mixins';
@import 'inc/_general';
@import 'inc/_typography';
@import 'inc/_lists';
@import 'inc/_buttons';
@import 'inc/_banners';
@import 'inc/_forms';

@import 'inc/layout/_header';
@import 'inc/layout/_footer';
@import 'inc/layout/_hero';
@import 'inc/layout/_breadcrumbs';
@import 'inc/layout/_main-content';
@import 'inc/layout/_case-studies-include';
@import 'inc/layout/_posts-list';

@import 'pages/_homepage';
@import 'pages/_calendar';
@import 'pages/_what-we-do-list';
@import 'pages/_blog';
@import 'pages/_surveys';
@import 'pages/_contact';


// Layout

body {
	background: @lightGrey;
	border-top: 5px solid @yellow;
	overflow-x: hidden;
	@media @lg {
		border-top-width: 20px;
	}
}

#wrap {
	background: green;
	background: #fff;
	margin-bottom: 80px;
	@media @sm {
		margin-bottom: 100px;
	}
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media @sm {
    	width: 750px;
	}
	@media @md {
	    width: 970px;
	}
	@media @lg {
	    width: 1230px;
	}

	&.narrow {
		@media @lg {
		    width: 950px;
		}
	}

}

.container, .row {
	&:before, &:after {
		display: table;
  		content: " ";
	}

	&:after {
	  clear: both;
	}
}

.col {
	float: left;
	position: relative;
	min-height: 1px;
	width: 100%;
}

hr {
	border: none;
	border-top: 1px solid @darkGrey;
	margin: 25px 0;
	@media @sm {
		margin: 35px 0;
	}
}

h1 + hr {
	margin-top: 20px;
	@media @sm {
		margin-top: 30px;
	}
}