.blog,
.archive,
.single-post {

	.meta {
		font-size: 12px;
		letter-spacing: .025em;
		line-height: 1;
		text-transform: uppercase;
		@media @sm {
			font-size: 13px;
		}

		a:hover {
			color: @yellow;
		}

		.date {
			line-height: 1;

			sup {
				position: relative;
				top: 0;
			}

		}

		.post-categories {
			&:extend(.inline all);
			display: inline;
			line-height: 1;
			margin-left: 5px;
			@media @sm {
				margin-left: 10px;
			}
			
			li {
				border-left: 1px solid @bodyColour;
				font-size: 12px;
				padding: 0 5px;
				@media @sm {
					font-size: 13px;
					padding: 0 10px;
				}
			}

		}

	}

}


.blog,
.archive {

	.tweet {
		background: @yellow;
		font-family: @serifFont;		
		margin-bottom: 50px;
		padding: 30px;
		position: relative;
		text-align: center;
		@media @sm {
			margin-bottom: 75px;
			padding: 80px 240px 80px 150px;
			text-align: left;
		}
		@media @md {
			margin-bottom: 100px;
		}

		.fa {
			font-size: 40px;
			margin-bottom: 10px;
			@media @sm {
				margin-bottom: 0;
				position: absolute;
				right: 150px;
				top: 140px;
			}
		}

		p {
			font-size: 18px;
			letter-spacing: .03em;
			line-height: 1.2;
			margin: 0;
			@media @sm {
				font-size: 24px;
			}
			@media @md {
				font-size: 26px;
			}
			@media @lg {
				font-size: 30px;
			}

			&.date {
				font-family: @sansSerifFont;
				font-size: 12px;
				letter-spacing: 1px;
				line-height: 1.8;
				margin-bottom: 20px;
				text-transform: uppercase;				
				@media @sm {
					font-size: 13px;
				}
				@media @md {
					font-size: 14px;
					line-height: 2;
				}

				a {
					display: block;
					text-decoration: underline;
					@media @sm {
						display: inline;
					}

					&:hover {
						color: #fff;
					}

				}

			}

		}

	}

	.pagination {
		background: @lightGrey;
		
		.nav-links {
			&:extend(.container all);
			padding-top: 30px;
			@media @sm {
				padding-top: 40px;
			}
		
			.page-numbers {
				display: inline-block;
				font-weight: @bold;
				height: 30px;
				line-height: 28px;
				text-align: center;
				text-transform: uppercase;
				width: 30px;
				@media @sm {
					height: 40px;
					line-height: 38px;
					width: 40px;
				}

				&.current {
					&:extend(.double-border all);
					background: #fff;
					border-color: @lightGrey;

					&:hover {
						color: @bodyColour;
					}

				}

				&.prev,
				&.next {
					font-size: 0;
					height: auto;
					margin-top: -10px;
					letter-spacing: .025em;
					line-height: 1;
					text-align: left;
					width: auto;
					@media @sm {
						font-size: 14px;
						margin-top: 0;
					}

					.fa {
						font-size: 40px;
						position: relative;
						top: 7px;
					}

				}

				&.prev {
					margin-right: 15px;
					@media @sm {
						margin-right: 30px;
					}
					
					.fa {
						margin-right: 5px;
					}

				}

				&.next {
					float: right;
					
					.fa {
						margin-left: 5px;
					}

				}

			}

		}

	}

}


.single-post {

	header#site-header .main-nav ul li.menu-item-60 {
		border-bottom: 3px solid @yellow;
	}

	#hero {
		height: 200px;
		@media @sm {
			height: 300px;			
		}

		.container {

			.inner {
				padding-top: 5px !important;
				padding-bottom: 5px !important;
				@media @md {
					padding-top: 15px !important;
					padding-bottom: 10px !important;
				}
			}

		}

	}

	.meta {
		&:extend(.breadcrumbs all);

		a {
			font-size: 12px;
			@media @sm {
				font-size: 13px;
			}
		}

		.date {
			border-left: 1px solid @bodyColour;
			margin-left: 10px;
			padding-left: 10px;
		}

		.post-categories {
			display: block;
			margin: 10px 0 0;
			@media @sm {
				display: inline-block;
				margin-left: 10px;
			}

			li {

				&:first-child {
					border-left: none;
					padding-left: 0;
					@media @sm {
						border-left: 1px solid @bodyColour;
						padding: 0 10px;
					}
				}

			}

		}

	}

	h1 {
		font-size: 24px;
		letter-spacing: .03em;
		line-height: 30px;
		margin: 20px 0;
		@media @sm {
			font-size: 40px;
			line-height: 58px;
			margin: 50px 0;
		}
	}

	p {
		@media @md {
			margin-bottom: 40px;
		}
	}

	.narrow {
		padding-bottom: 30px;
		@media @lg {
			padding-bottom: 40px;
		}
	}

	.size-full {
		border-top: 1px solid @darkGrey;
		display: block;
		float: none;
		height: auto;
		margin-bottom: 30px;
		padding-top: 30px;
		width: 100%;
		@media @lg {
			margin-left: -100px;	
			width: 1120px;		
		}
	}

	.alignleft,
	.alignright {
		border: none;
		display: block;
		height: auto;
		max-width: 100%;
		padding: 20px 0 0;
		@media @sm {
			padding: 20px;
			width: 50%;
		}
		@media @lg {
			
		}
	}

	.alignleft {
		@media @sm {
			float: left;
			padding-left: 0;
		}
		@media @lg {
			margin: 0 0 0 -100px;
			width: 50%;
		}
	}

	.alignright {
		@media @sm {
			float: right;
			padding-right: 0;
		}
		@media @lg {
			margin: 0 -100px 0 0;
			width: 50%;
		}
	}

	ul, ol {
		margin: 0 0 30px;
		padding: 0 0 0 20px;

		li {
			margin: 0 0 10px;
		}
	}

	blockquote {
		.border-radius(4px);
		background: @lightGrey;
		font-style: italic;
		margin: 30px 0;
		padding: 40px;		
		
		p {
			font-size: 20px;
			line-height: 30px;

			&:last-child {
				margin-bottom: 0;
			}

			&:before,
			&:after {
				content: '"';
				font-size: 30px;
			}

			&:before {
				margin-right: 5px;				
			}

			&:after {
				margin-left: 5px;				
			}

		}

	}

}