.page-template-calendar-template {
	@media @sm {
		background: #fff;
	}

	#wrap {
		margin-bottom: 80px;
	}

	.main-content {
		border-bottom: none;
		@media @sm {
			border-bottom: 1px solid @darkGrey;
		}

		main {
			@media only screen and (max-width: 767px) {
				padding-top: 0;
			}			
		}

	}
	
	.intro {
		background: @mediumGrey;
		margin: 0 -15px 30px;
		padding: 30px 15px;
		text-align: center;
		@media @sm {
			background: none;	
			margin: 0 0 60px;
			padding: 0;
			text-align: left;
		}

		h1 {
			font-size: 24px;
			line-height: 1;
			margin-bottom: 15px;
			@media @sm {
				font-size: 30px;
				margin-bottom: 25px;
			}
		
			.fa {
				.border-radius(50%);
				border: 2px solid @bodyColour;
				display: inline-block;
				font-size: 16px;
				height: 24px;
				margin-right: 10px;
				position: relative;
				text-align: center;
				top: -4px;
				width: 24px;
				@media @sm {
					font-size: 20px;
					height: 30px;
					top: -5px;
					width: 30px;
				}

				&:before {
					position: relative;
					top: 2px;
					@media @sm {
						top: 3px;
					}
				}

			}

		}	

		.row {
			.displayflex;
			margin-left: -5px;
			margin-right: -5px;
			@media @sm {
				margin-left: -7px;
				margin-right: -7px;
			}

			.col {
				.displayflex;
				padding: 0 5px;
				width: 50%;
				@media @sm {
					padding: 0 9px;
				}

				.inner {
					background: @lightGrey;
					padding: 15px;
					text-align: left;
					@media @sm {
						.border-radius(2px);
						border: 2px solid #fff;
						padding: 20px 15px;
					    position: relative;

					    &:before {
					        .border-radius(4px);
					        background: none;
					        border-width: 2px;
					        border-style: solid;
					        content: "";
					        display: block;
					        position: absolute;
					        top: -4px;
					        left: -4px;
					        right: -4px;
					        bottom: -4px;
					        pointer-events: none;
					    }

					}
					@media @md {
						padding: 30px 25px;
					}

					p {
						font-size: 12px;
						margin: 0;
						@media @sm {
							foint-size: 14px;
						}

					}

				}

			}	

		}

	}

	.key {
		margin-bottom: 20px;
		text-align: center;
		@media @sm {
			margin-bottom: 25px;
			text-align: left;
		}

		h2 {
			margin-bottom: 15px;
		}

		ul {
			&:extend(.inline all);

			li {
				font-size: 9px;
				letter-spacing: -.025em;
				margin-right: 10px;
				text-transform: uppercase;
				@media @sm {
					font-size: 12px;
					letter-spacing: .025em;
					margin-right: 20px;
				}

				&:before {
					content: '';
					display: inline-block;
					height: 9px;
					margin-right: 3px;
					position: relative;
					top: 1px;
					width: 9px;
					@media @sm {
						height: 20px;
						margin-right: 15px;
						top: 5px;
						width: 20px;
					}
				}

				&.recommended:before {
					background: @calendar-recommended;
				}

				&.possible:before {
					background: @calendar-possible;
				}

			}

		}

	}

	.calendar {
		margin-bottom: 40px;
		
		h3 {
			font-size: 16px;
		}

		.label {
			font-size: 12px;
			letter-spacing: .025em;
			margin-bottom: 15px;
			text-transform: uppercase;			
		}

		ul {
			&:extend(.inline all);

			li {
				color: #8f8f8f;
				font-size: 11px;
				text-align: center;
				padding: 40px 0 0;
				position: relative;
				width: 8.33333333%;
				@media @sm {
					font-size: 14px;
				}

				&:before, 
				&:after {
					// border-right: 1px solid green;
					content: '';
					display: block;
					height: 35px;
					position: absolute;
					left: 0;
					right: 1px;
					top: 0;
					// width: 100%;
				}

				&:before {
					background: @lightGrey;					
				}

				&:first-child:before,
				&:first-child:after {
					.border-radius(3px 0 0 3px);
				}

				&:last-child:before,
				&:last-child:after {
					.border-radius(0 3px 3px 0);			
				}

				&.recommended:after {
					background: @calendar-recommended;
				}

				&.possible:after {
					background: @calendar-possible;
				}

				&.half-start:after,
				&.half-end:after {
					width: 50%;
				}

				&.half-end:after {
					left: auto;
					right: 1px;
				}

				&.half-start:after {
					border-right: none;
					right: auto;
					left: 0;					
				}

			}

		}

	}

	.download-pdf {
		background: @lightGrey;
		margin-left: -15px;
		margin-right: -15px;
		padding: 30px 0 0;
		text-align: center;
		@media @sm {
			background: none;
			margin: 0;
			padding: 0;
			text-align: left;
		}
	}


}