.page-template-contact {

	#wrap {
		
		.contact-form {
			padding: 30px 0 0;
			@media @sm {
				padding: 40px 0;
			}
			@media @md {
				padding: 60px 0 50px;
			}

			.intro {
				@media @sm {
					padding-right: 60px;
					width: 50%;
				}
				@media @lg {
					width: 420px;
				}
			}
			
			.form {
				@media @sm {
					width: 50%;
				}
				@media @lg {
					width: 780px;
				}

				.gform_wrapper ul {
					@media @sm {
						margin: 0 -10px !important;
					}

					.gfield {
						margin-bottom: 10px !important;
						@media @sm {
							clear: none;
							float: left;
							margin-bottom: 15px !important;
							padding: 0 10px;	
							width: 50%;
						}

						&.full {
							@media @sm {
								padding: 0 10px;
								width: 100%;
							}
						}

					}

				}
		
				textarea {
					height: 100px;
					@media @sm {
						height: 150px;
					}
				}

				.gform_footer {
					&:extend(.btn all);
					&:extend(.double-border all);
					clear: both;
					float: left;
					display: inline-block;
					margin: 10px 0 0 0 !important;
					width: 100%;
					@media @sm {
						margin: 5px 2px 0 2px !important;
						width: 220px;					
					}

					&:after {
						content: 'Send';
						position: relative;
						top: 1px;
					}

					input {
						background: 0 0;
						border: none;
						font-size: 0;
						height: 100%;
						left: 0;
						outline: 0;
						position: absolute;
						top: 0;
						width: 100%;
					}

				}

				// .btn {
				// 	margin-top: 10px;
				// 	width: 100%;
				// 	@media @sm {
				// 		margin-top: 5px;
				// 		width: 220px;					
				// 	}				
				// }
			
			}

		}

		#find-us {
			background: @lightGrey;
			padding-top: 90px;

			.row {

				.col {
					@media @sm {
						width: 40%;
					}
					@media @md {
						width: 360px;
					}
					@media @lg {				
						width: 390px;
					}

					&:first-child {
						@media @sm {
							width: 20%;
						}
						@media @md {
							width: 220px;
						}
						@media @lg {
							width: 420px;
						}
					}

				}

			}

			a {
				border: none;
				font-weight: @regular;			
				padding-bottom: 0;
			}

		}

		h2 {
			@media @sm {
				margin: -4px 0 0;
			}
			@media @lg {
				margin: -7px 0 0;
			}
		}

		p {
			@media @sm {
				margin: 0;
			}
		}

		ul {
			&:extend(.unstyled all);
		}

	}

}