body.home {
	
	// Hero 

	#hero {
		height: 265px;
		@media @sm {
			height: 350px;			
		}
		@media @md {
			height: 500px;			
		}
		@media @lg {
			height: 820px;
		}

		.container {
			text-align: center;
			@media @sm {
				padding-top: 40px;
			}
			@media @md {
				padding-top: 55px;
			}
			@media @lg {
				padding-top: 86px;
			}

			h1 {
				font-size: 20px;
				letter-spacing: -.05em;
				line-height: 1;
				@media @sm {
					font-size: 40px;
				}
				@media @md {
					font-size: 50px;
				}
				@media @lg {
					font-size: 80px;
				}

				&:after {
					display: none;
				}

			}

			p {
				color: @yellow;
				font-size: 10px;
				font-weight: @bold;
				letter-spacing: .075em;
				line-height: 1;
				margin: 0 0 10px;
				text-transform: uppercase;
				@media @sm {
					font-size: 13px;
					margin-bottom: 20px;
				}
			}

		}

	}


	// Survey Overview

	#survey-overview {
		background-color: @lightGrey;
		padding: 15px 0 0;
		@media @sm {
			background: url('../../img/homepage/survey-overview-bg.png') 50% 100% no-repeat @lightGrey;
			padding: 30px 0 60px;
		}
		@media @md {
			padding: 50px 0 70px;
		}

		.row {
			@media @sm {
				margin-left: -8px;
				margin-right: -8px;
			}
			@media @md {
				margin-left: -18px;
				margin-right: -18px;
			}

			.col {
				float: none;
				margin: 0 auto;
				max-width: 320px;
				@media @sm {
					float: left;
					padding: 0 8px;
					max-width: none;
	  				width: 33.33333333%;
	  			}
	  			@media @md {
					padding: 0 18px;
				}

				article {
					background-position: 50% 215%;
					background-repeat: no-repeat;
					background-size: 100% auto;
					background-color: @mediumGrey;
					margin-bottom: 15px;
					padding: 40px 30px 65px;
					position: relative;
					text-align: center;
					@media @sm {
						background-position: 50% 100%;
						height: 425px;
						margin-bottom: 0;
						padding: 40px 20px 0;
					}
					@media @md {
						height: 475px;
						padding: 40px 30px 0;
					}
					@media @lg {
						height: 505px;
						padding: 60px 40px 0;
					}

				}

				&:nth-child(1) article img {
					bottom: -40px;
					display: block;
					height: auto;
					position: absolute;
					left: -15px;
					width: 80px;
					z-index: 1;
					@media @sm {
						bottom: -50px;
						left: -30px;
						width: auto;
					}
				}

			}

		}

	}


	// Survey Calendar Overview

	#survey-calendar-overview {
		border-top: 1px solid @darkGrey;
		padding: 30px 0;
		@media @sm {
			margin-top: 60px;
			padding: 0 0 40px;
		}
		@media @md {
			margin-top: 80px;
			padding: 0 0 60px;
		}

		.row {

			.img {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: cover;
			}

			.col {
				text-align: center;
				@media @sm {
					height: 380px;
					width: 25%;
				}
				@media @md {
					height: 460px;
					width: 25%;
				}

				img {
					display: block;
				}

				&:nth-child(1) {
					background: #404855;
					padding: 40px 30px;
					@media @sm {
						padding: 0;
						width: 50%;
					}

					.inner {
						color: #fff;
						margin: 0 auto;						
						@media @sm {
							.vertical-align;
							width: 330px;
						}

						h2 {
							font-style: italic;
						}

						p {
							margin-bottom: 30px;
						}

						.btn {
							background: none;
							border-color: @yellow;
							color: #fff;

							&:hover {
								border-color: #fff;
							}

						}

					}

				}

				&:nth-child(2) {
					display: none;
					@media @sm {
						display: block;
					}
					&:after {
						background: @darkGrey;
						content: '';
						display: block;
						width: 1px;
						height: 60px;
						position: absolute;
						right: -1px;
						top: -61px;
						@media @md {
							height: 80px;
							top: -81px;
						}
					}

				}

				&:nth-child(3) {
					border: 1px solid @darkGrey;
					border-top: none;
					display: none;
					@media @sm {
						display: block;
					}

					.img {
						display: block;
						height: 0;
						padding-bottom: 75%;
						width: 100%;
					}

					h2 {
						font-size: 14px;
						margin: 30px 15px 20px;
						@media @md {
							margin: 40px 30px 35px;
						}
					}

					p {
						@media @sm {
							margin: 0 15px;
						}
						@media @md {
							margin: 0 30px;
						}
					}

				}

			}
			

		}

	}

	.main {
		background: @lightGrey;
		padding: 30px 0 0;
		@media @sm {
			padding: 60px 0 0;
		}
	}


	// About Overview

	.about-overview {
		&:extend(.cf all);
		position: relative;
		z-index: 1;
		@media @sm {
			height: 380px;
		}
		@media @md {
			height: 490px;
		}

		img {
			display: block;
			height: auto;
			width: 100%;
			@media @sm {
				.vertical-align;
				float: left;
				width: 50%;
			}
		}

		.panel {
			background: @blue; 
			color: #fff;
			@media @sm {
				float: right;
				height: 100%;
				width: 50%;
			}

			.inner {
				padding: 30px 25px;
				@media @sm {
					.vertical-align;
					padding: 0 40px;
				}
				@media @md {
					padding: 0 60px;
				}

				p {
					margin-bottom: 30px;
				}

				.btn {
					background: none;
					border-color: @yellow;
					color: #fff;

					&:hover {
						border-color: #fff;
					}

				}

			}

		}

	}

	// Coverage Overview

	.coverage-overview {
		&:extend(.cf all);
		padding: 100px 0 0;
		position: relative;
		@media @sm {
			padding: 20px 0 0;
		}
		@media lg {
			padding-bottom: 120px;
		}

		.newt {
			position: absolute;
			top: -10px;
			left: -180px;
			@media @sm {
				top: -90px;
			}
			@media @lg {
				top: -60px;
			}
		}

		.panel {
			padding: 0 25px;
			position: relative;
			z-index: 1;
			@media @sm {
				float: left;
				padding: 0 25px 0 0;
				width: 50%;
			}
			@media @md {
				padding: 0 40px;
			}
			@media @lg {
				padding: 0 80px;
			}

			p {
				@media @sm {
					margin-bottom: 30px;
				}
			}

			img {
				display: block;
				float: right;
				height: auto;
				margin: 20px 0 15px;
				max-width: 100%;
				width: 60%;
				@media @sm {
					margin: 30px 0 0;
					width: 280px;
				}
			}

		}

		.map {
			display: block;
			height: auto;
			width: 100%;
			@media @sm {
				position: absolute;
				right: 0;
				width: 55%;
			}
			@media @lg {
				width: auto;
			}
		}

	}

}