
// Info Box

.info-box {
	background: @blue;
	color: #fff;
	display: block;
	float: right;
	font-family: @serifFont;
	margin: 0 0 25px;
	padding: 20px;
	text-align: center;
	width: 100%;
	@media @sm {
		margin: 0 -40px 20px 20px;
		width: 170px;
	}
	@media @md {
		margin-right: -60px;
		width: 195px;
	}

	.fa {
		.border-radius(50%);
		border: 4px solid #fff;
		display: inline-block;
		font-size: 38px;
		height: 52px;
		margin: 0 10px 5px 0;
		position: relative;
		text-align: center;
		top: -5px;
		width: 52px;

		&:before {
			position: relative;
			top: 2px;
			@media @sm {
				top: 3px;
			}
		}

	}

	p {
		font-size: 15px;
		line-height: 1.4;
		margin-bottom: 10px;
		@media @sm {
			font-size: 14px;
		}
		@media @md {
			font-size: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	a {
		border-bottom: 1px solid #fff;
		color: #fff !important;
		padding-bottom: 0;

		&:hover {
			border: none;
		}

	}

}


// Additional Services

#services {

	ul {
		&:extend(.unstyled all);
		&:extend(.cf all);
		border-left: 1px solid @darkGrey;
		line-height: 1;
		margin: 40px 0;
		width: 100%;
		@media @sm {
			margin: 50px 0;
			width: 480px;
		}
		@media @md {
			width: 610px;
		}
		@media @lg {
			width: 870px;
		}

		li {
			border-right: 1px solid @darkGrey;
			border-bottom: 1px solid @darkGrey;
			float: left;
			font-family: @serifFont;
			height: 130px;
			margin: 0;
			padding: 0 10px;
			text-align: center;
			width: 50%;
			@media @sm {
				height: 170px;				
				width: 33.3333333%;
			}
			@media @md {
				padding: 0 30px;
			}
			@media @lg {
				padding: 0 40px;
			}

			strong {
				.vertical-align;
				display: block;
				font-weight: @medium;
				line-height: 1.4;

				&:before {
					background: url('../../img/service-tick.png') 50% 50% no-repeat;
					content: '';
					display: block;
					margin: 0 auto 10px;
					height: 22px;
					width: 27px;
					@media @sm {
						margin-bottom: 20px;
					}
				}

			}

			&:nth-child(3n) {
				@media @sm {
					border-right: none !important;
				}
			}

		}

	}

}


