.page-template-what-we-do-list {
	background: #fff;

	.service-list {
		padding-top: 30px;
		padding-bottom: 30px;
		@media @sm {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media @sm {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		.banner {
			height: 175px;
			@media @sm {
				height: 250px;
			}
			@media @lg {
				height: 315px;
			}

			.label {
				width: 90%;
			}

		}
		
		.ecology-surveys {			
			@media @lg {
				padding-bottom: 40px;
			}

			.banner {
				margin-bottom: 40px;

				.label {
					border-bottom: 1px solid @darkGrey;
					@media @md {
						width: 33.333333%;
					}
				}

			}

			.row {

				.col {
					
					&.intro {
						@media @md {
							padding-right: 30px;
							width: 340px;
						}
						@media @lg {
							padding-right: 125px;
							width: 465px;
						}
					}

					&.page-list {
						@media @md {
							width: 600px;
						}
						@media @lg {
							width: 735px;
						}
						
						ul {
							&:extend(.inline all);
							line-height: 1;
							@media @sm {
								margin-top: 10px;
							}
							@media @md {
								margin-top: 0;
							}

							li {
								float: left;
								line-height: 1.3;
								margin: 0 0 10px;
								width: 100%;
								@media @sm {
									line-height: 1.5;
									margin-bottom: 20px;
									width: 50%;
								}
								@media @md {
									margin-bottom: 30px;
								}

								a {
									font-size: 12px;
									font-weight: @bold;
									letter-spacing: 1px;
									text-transform: uppercase;
									@media @sm {
										font-size: 13px;
									}
									@media @md {
										font-size: 12px;
									}
									@media @lg {
										font-size: 13px;
									}

									&:hover {
										color: @yellow;
									}

								}

							}

						}

					}

				}

			}

		}

		.other-services {
			@media @sm {
				border-bottom: 1px solid @darkGrey;
				margin-bottom: 35px;
				padding-bottom: 35px;
			}			

			.row {
				@media @sm {
					margin-left: -10px;
					margin-right: -10px;
				}
			}

			.col {
				border-bottom: 1px solid @darkGrey;
				margin-bottom: 25px;
				padding-bottom: 25px;
				@media @sm {
					border: none;
					margin: 0;
					padding: 0 10px;
					width: 50%;
				}
			}

			&:last-child {
				border: none;
				margin-bottom: 0;
				padding-bottom: 0;

				.col {
					border: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}

			}

			.banner {

				.label {
					@media @md {
						width: 75%;
					}
				}

				h2 {
					@media @sm {
						font-size: 18px;
					}
					@media @md {
						font-size: 22px;
					}
					@media @lg {
						width: 75%;
					}
				}

			}

		}

	}

}