.banner {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	position: relative;

	.label {
		.transition;
		background: #fff;
		border-bottom: 3px solid @yellow;
		bottom: 0;
		left: 0;
		height: 80px;
		padding: 0 90px 0 15px;
		position: absolute;
		width: 75%;
		@media @sm {
			padding-right: 110px;
			height: 90px;
		}
		@media @md {
			padding-right: 100px;
			height: 85px;
		}
		@media @lg {
			padding-right: 120px;
			height: 100px;
		}

		&:after {
			.fa('\f105');
			vertical-align: middle;
			border-left: 1px solid @darkGrey;
			display: block;
			font-size: 30px;
			height: 100%;
			position: absolute;
			text-align: center;
			line-height: 80px;
			right: 0;
			top: 0;
			width: 80px;
			@media @sm {
				font-size: 40px;
				line-height: 90px;
				width: 90px;
			}
			@media @md {
				line-height: 85px;
				width: 85px;
			}
			@media @lg {
				line-height: 100px;
				width: 100px;
			}
			
		}

	}

	h2 {
		.vertical-align;
		font-size: 18px;
		line-height: 1;
		margin: 0;
		@media @sm {
			font-size: 24px;
		}
		@media @md {
			font-size: 24px;
		}
		@media @lg {
			font-size: 30px;
		}

		small {
			display: block;
			font-family: @sansSerifFont;
			font-size: 11px;
			letter-spacing: .075em;
			line-height: 1;
			margin: 5px 0 0;
			text-transform: uppercase;
			@media @sm {
				font-size: 12px;
			}
			@media @md {
				font-size: 11px;
			}
			@media @lg {
				font-size: 13px;
			}
		}

	}

	&:hover {

		.label {
			background: @bodyColour;
			color: #fff;
		}

	}

}