.btn {
	.transition;
    .border-radius(4px);
    background: none;
    border: 2px solid @yellow;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: @bold;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0;
    max-width: 100%;
    padding: 10px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    @media @sm {
        font-size: 13px;
        padding: 18px 20px;
    }

    &:hover {
        background: @yellow;
        color: @bodyColour;
    }

    &.btn-basic {
        .border-radius(0);
        background: none !important;
        border: none;
        border-bottom: 3px solid @yellow;
        color: @bodyColour !important;
        padding: 5px 0;

        &:hover {
            border-color: @bodyColour;
        }

    }

}

.double-border {
    .border-radius(3px);
    border-width: 1px;
    border-style: solid;
    position: relative;

    &:before {
        .border-radius(4px);
        background: none;
        border-width: 2px;
        border-style: solid;
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        pointer-events: none;
    }

}