.form-control {	
	.border-radius(4px);
	background-color: #fff;
	background-image: none;
	border: 2px solid @bodyColour;
	color: @bodyColour;
	display: block;	
	font-size: 13px;
	font-weight: @bold;
	height: 42px;
	line-height: 42px;
	outline: none;
	margin: 0;
	padding: 0 10px;
	text-transform: uppercase;
	width: 100%;	

	&::-webkit-input-placeholder {
		color: @bodyColour;
	}
	&::-moz-placeholder {
		color: @bodyColour;
	}
	&:-ms-input-placeholder {
		color: @bodyColour;
	}
	&:-moz-placeholder {
		color: @bodyColour;
	}

}

textarea {
	line-height: 1.5;
	padding-top: 20px;
	padding-bottom: 20px;
	resize: none;
}

label {
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
}

.btn {
	background: @yellow;
	border-color: #fff;
	color: @bodyColour;
	margin-left: 2px;

	&:before {
		border-color: @bodyColour;
	}

	&:hover {
		background: @bodyColour;
		color: #fff;
	}
	
	input[type="submit"] {
		background: none;
		border: none;
		font-size: 0;
		height: 100%;
		left: 0;
		outline: none;
		position: absolute;
		top: 0;
		width: 100%;			
	}

}





// Gravity Form

.gform_wrapper {
	margin: 0 !important;

	.gfield {
		max-width: 100% !important;
	}

	.top_label {

		.gfield {

			&.gfield_error {
				background: none;
				border: none;
				margin: 0;

				.gfield_label {
					color: @error;
				}

				input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea {
					border-color: @error;
				}

			}

		}

		.gfield_label {
			display: inline-block;
			font-size: 12px;
			font-weight: @medium;
			line-height: 1;		
			margin: 0 0 5px !important;
			text-transform: uppercase;
			@media @sm {
				margin-bottom: 10px !important;
			}
		}

		div.ginput_container {
			margin: 0 !important;
		}

		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea {
			.border-radius(4px);
			background-color: #fff;
			background-image: none;
			border: 2px solid @bodyColour;
			color: @bodyColour;
			display: block;	
			font-size: 13px;
			font-weight: @bold;
			height: 42px;
			line-height: 42px;
			outline: none;
			margin: 0;
			padding: 0 10px;
			text-transform: uppercase;
			width: 100%;	

			&::-webkit-input-placeholder {
				color: @bodyColour;
			}
			&::-moz-placeholder {
				color: @bodyColour;
			}
			&:-ms-input-placeholder {
				color: @bodyColour;
			}
			&:-moz-placeholder {
				color: @bodyColour;
			}
		}

		textarea {
			line-height: 1.5;
			padding-top: 10px;
			padding-bottom: 10px;
			resize: none;
		}

	}

}

body .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
	max-width: 100% !important;
}

body .gform_wrapper  {

	.validation_message {
		color: @error;
		font-size: 12px;
		font-weight: @semiBold;
		padding: 5px 0 0 !important;
	}

	div.validation_error {
		border-color: @error;
		color: @error;
		font-size: 14px;
		font-weight: @semiBold;
		line-height: 1.5;
	}

}