/**
 * @license
 * MyFonts Webfont Build ID 3360664, 2017-03-16T09:53:07-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Sagona-Light by Rene Bieder
 * URL: http://www.myfonts.com/fonts/rene-bieder/sagona/light/
 * Copyright: Copyright &#x00A9; 2016 by Ren&#x00E9; Bieder. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3360664
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/334798");
 
 @font-face {
 	font-family: 'Sagona-Light';
 	src: url('../../fonts/334798_0_0.eot');
 	src: url('../../fonts/334798_0_0.eot?#iefix') format('embedded-opentype'),
 		 url('../../fonts/334798_0_0.woff2') format('woff2'),
 		 url('../../fonts/334798_0_0.woff') format('woff'),
 		 url('../../fonts/334798_0_0.ttf') format('truetype');
}
 


// Links

a {
	.transition;
	color: @link-colour;
	text-decoration: none;

	&:hover {
		// color: @bodyColour;
		color: @link-hover-colour;
	}

	&[href^="tel:"] {
		border: none;
		color: @bodyColour !important;
		cursor: text;
		font-weight: @regular;
		padding-bottom: none;
	}

}


// Headings

h1, h2, h3, h4, h5, h6 {
	font-family: @serifFont;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
}

h1, h2 {
	font-size: 22px;
	margin-bottom: 20px;
	@media @sm {
		font-size: 24px;
		margin-bottom: 25px;
	}
	@media @md {
		font-size: 26px;
		margin-bottom: 30px;
	}
	@media @lg {
		font-size: 30px;
	}
}

h3 {
	font-size: 18px;
	margin-bottom: 20px;
	@media @sm {
		font-size: 20px;
		margin-bottom: 25px;
	}
	@media @md {
		font-size: 22px;
		margin-bottom: 30px;
	}
	@media @lg {
		font-size: 24px;
	}
}

h4 {
	font-size: 16px;
	margin: 20px 0 10px;
	@media @sm {
		// font-size: 18px;
	}
	@media @md {
		font-size: 18px;
		margin: 30px 0 15px;
	}
	@media @lg {
		font-size: 20px;
	}
}

h5 {
	font-family: @sansSerifFont;
	font-weight: @bold;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 15px;
	text-transform: uppercase;
	@media @md {
		margin-bottom: 20px;
	}
}

h6 {
	font-family: @sansSerifFont;
	font-weight: @bold;
	font-size: 13px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-transform: uppercase;
}


// Paragraph

p {
	font-size: 12px;
	line-height: 1.8;
	margin: 0 0 20px;
	@media @sm {
		font-size: 13px;
	}
	@media @md {
		font-size: 14px;
		line-height: 2;
	}

	a {
		border-bottom: 2px solid @yellow;
		font-weight: @bold;
		padding-bottom: 2px;
		@media @sm {
			border-bottom-width: 3px;
			padding-bottom: 3px;
		}

		&:hover {
			color: @yellow;
		}

	}

}


// Font Styles

strong {
	font-weight: @bold;
}