// MQ Breakpoints

@sm: ~"only screen and (min-width: 768px)";
@md: ~"only screen and (min-width: 992px)";
@lg: ~"only screen and (min-width: 1250px)";
@xlg: ~"only screen and (min-width: 1520px)";
@full: ~"only screen and (min-width: 1940px)";


// Colours

@yellow: #ffcc00;
@blue: #00a1e4;
@lightGrey: #f8f7f4;
@mediumGrey: #f0efec;
@darkGrey: #ececec;


// Setup

@mobile-grid-padding: 15px;
@desktop-grid-padding: 15px;
@bodyColour: #444;
@bodyFont: @sansSerifFont;
@regular: 400;
@medium: 500;
@semiBold: 600;
@bold: 700;


// Typography

@sansSerifFont: 'Raleway', sans-serif;
@serifFont: 'Sagona-Light';


// Layout

@wrap-bg-colour: #fff;


// Links

@link-colour: @bodyColour;
@link-hover-colour: @yellow;


// Nav

@navBg: #383339;
@navBgHover: #423d43;


// Calendar

@calendar-recommended: @yellow;
@calendar-possible: @blue;


// Form

@error: #be4444;